<div class="container">
	<div class="login" ng-hide="login_form">
		<form ng-submit="login()">
			<div class="alert alert-danger alert-dismissible fade in" ng-if="loginError">
				<span>
					{{ loginError }}
				</span>
			</div>
			<div class="form-group">
				<input type="text" class="form-control" placeholder="username" ng-model="loginUser.username">
			</div>
			<div class="form-group">
				<input type="password" class="form-control" placeholder="password" ng-model="loginUser.password">
			</div>
			<button type="submit" class="btn btn-primary">Login</button>
		</form>
		<p>
			New to blizzmate? <button type="button" class="btn btn-warning" ng-click="login_form = !login_form">join us!</button>
		</p>
	</div>
	<div class="registration" ng-show="login_form">
		<form ng-submit="register()">
			<div class="alert alert-danger alert-dismissible fade in" ng-if="registerError" ng-repeat="errors in registerError">
				<span>
					{{ errors.message }}
				</span>
			</div>
			<div class="form-group">
				<input type="text" class="form-control" placeholder="username" ng-model="newUser.username">
			</div>
			<div class="form-group">
				<input type="text" class="form-control" placeholder="email" ng-model="newUser.email">
			</div>
			<div class="alert alert-danger alert-dismissible fade in" ng-if="match_error">
				<span>
					{{ match_error.error }}
				</span>
			</div>
			<div class="form-group">
				<input type="text" class="form-control" placeholder="password" ng-model="newUser.password">
			</div>
			<div class="form-group">
				<input type="text" class="form-control" placeholder="confirm password" ng-model="newUser.confirm_password">
			</div>
			<button type="submit" class="btn btn-primary">Register!</button>
		</form>
		<p>
			Already a member? <button type="button" class="btn btn-info" ng-click="login_form = !login_form">Login!</button>
		</p>
	</div>
</div>

<h1>login.html</h1>
